<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>Add a Client</title>
    </head>
<body>
    <h1>{{ stylist.getName }}</h1>

    {% if stylists is not empty %}
        <p>Here are your clients:</p>
        <ul>
            {% for client in clients %}
                <li>{{ client.getFirstName }} {{ client.getLastName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a client</h4>

    <form action="/add_client" method='post'>
        <input name="stylist_id" type="hidden" value="{{ stylist.getId() }}">

        <label for="first_name">First Name:</label>
        <input name="first_name" type="test" required>

        <button type='submit'>Add Client</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
